.upsell-content {
  padding: 1rem;
  text-align: center;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;

  h2.customer-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;

    mat-icon {
      vertical-align: middle;
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }

  .pet-info {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;

    .info-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      .fact-text {
        color: #2196f3;
        flex: 1;
        margin-right: 0.5rem;
      }

      mat-icon {
        font-size: 1rem;
        color: #2196f3;
      }
    }

    .inline-toggle-button {
      display: block;
      margin: 1rem auto 0;
      font-size: 0.8rem;
      color: #1976d2;
      background: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  mat-divider {
    margin: 1rem 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0.5rem 0;

      .fact-text {
        color: #2196f3;
      }
    }
  }

  button {
    margin-top: 1rem;
  }
}

.product-item {
  margin-bottom: 1.5rem;

  .product-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .product-hints {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    mat-chip-option {
      font-size: 0.85rem;
      color: #ffffff;
      background-color: #7b1fa2;
      border-radius: 16px;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #7b1fa2;
      }
    }
  }
}

.ki-text {
  color: #7b1fa2;
}
